.mainWrapper{
    display: flex;
}
.mainPageWrapper{
    flex: 4;
}
.pageTitle{
    padding: 30px;
}
.pageTitle h5{
    font-size: 23px;
    font-weight: normal;
}
.contentWrapper{
    background-color: rgb(245, 244, 244);
    height: calc(100vh - 150px);
}