.featured{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 30px;
    row-gap: 40px;
    
}
.featuredItem{
    width: 500px;
    padding: 30px;
    position: relative;
    margin: 0 20px;
    border-radius: 10px;
    cursor: pointer;
    -webkit-box-shadow: 2px 10px 9px -1px rgba(0,0,0,0.32); 
    box-shadow: 2px 10px 9px -1px rgba(0,0,0,0.32);
}
.featuredTitle{
    font-size: 0.8rem;
    color: #555;
}
.featuredNumber{
    font-weight: bold;
    font-size: 23px;
    color: rgb(66, 66, 66);
}
.featuredIcon{
    position: absolute;
    bottom: 0;
    right: 0;
    color: rgb(199, 197, 197);
}
.mainIcon{
  
    font-size: 100px !important;
}